.form_container {
  width: 100%;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  padding: 30px 15px;
  .form_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #efe9e9;
    border-radius: 8px;
    width: 100%;
    max-width: 520px;
    min-width: 320px;
    padding: 20px;
    background: #ffffff;
    h1 {
      padding: 20px 0;
    }
  }
}
