.dropDrown_select{
    align-items: center;
    border-radius: 8px;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    outline: 0px;
    font-weight: 600;
    width: auto;
    height: 32px;
    font-size: 14px;
    padding: 0px 16px;
    line-height: 18px;
    background: transparent;
    border: 1px solid rgb(207, 214, 228);
    color: rgb(0, 0, 0);
}