@import '../../styles//style.scss';
    .header_bar{
        width: 100%;
        background-color: rgb(255, 255, 255);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        color: rgb(0, 0, 0);
        padding: 15px;
    .header_container{
        width: 100%;
        max-width: 1400px;
        display: flex;
        margin: 0 auto;
        align-items: center;
        justify-content: space-between;
        padding: 15px;
        .header_logo{
            font-size: 24px;
            font-weight: 600;
           color:rgb(56, 97, 251);
        }
        // .header_navigation{
    
        // }
        .header_button{
            display: flex;
            gap: 10px;
        }
    
    }
    
}